<div class="registroContainer">

    <button id="imprimir" class="btn btn-dark noprint">Imprimir</button>

    <br  class="noprint">
    <br  class="noprint">

    <table class="registroindividual table table-striped vistadeimpresion">
        <tr>
            <th colspan="2">Encuestador : {{{EncuestadorNombre}}} | Fecha de la encuesta: {{{FechaEncuesta}}}</th>
        </tr>
        <tr>
            <td>
                <b>Departamento:</b> {{{DepartamentoNombre}}}
            </td>

        </tr>
        <tr>
            <td>
                <b>Fecha de nacimiento:</b> {{#if FechaNacimiento}} {{{FechaNacimiento}}} {{else}} Sin datos {{/if}}
            </td>
            <td>
                <b>Sexo:</b> {{{Sexo}}}
            </td>
        </tr>
        <tr>
            <td>
                <b>¿Qué tipo de pensión tiene asignada?:</b> {{{TipoPension}}}
            </td>
            <td>
                <b>¿Dónde se atiende?:</b>
                {{#if Enlace_EncuestaLugarAtencion}}

                    {{#each Enlace_EncuestaLugarAtencion}}
                        <span class="badge badge-secondary">{{LugarAtencion}}</span>
                    {{/each}}

                    {{#if dondeSeAtiendeDetalle}}
                        ({{dondeSeAtiendeDetalle}})
                    {{/if}}

                {{else}}
                    Sin datos
                {{/if}}

            </td>
        </tr>
        <tr>
            <td>
                <b>¿Quién lo atiende?:</b>
                {{#if Enlace_AtendidoPor}}

                    {{#each Enlace_AtendidoPor}}
                        <span class="badge badge-secondary">{{AtendidoPor}}</span>
                    {{/each}}

                    {{#if quienLoAtiendeDetalle}}
                        ({{quienLoAtiendeDetalle}})
                    {{/if}}


                {{else}}
                    Sin datos
                {{/if}}
            </td>
            <td>
                <b>¿Cuánto tiempo le llevó encontrar el turno?:</b> {{{TiempoPrestacion}}}
            </td>
        </tr>
        <tr>
            <td>
                <b>¿Cómo fue atendido?:</b>
                {{{CalidadAtencion}}}
            </td>
            <td>
                <b>¿Le solicitaron estudios, cuáles?:</b>
                {{#if Enlace_EstudiosSolicitados}}

                    {{#each Enlace_EstudiosSolicitados}}
                        <span class="badge badge-secondary">{{EstudiosSolicitadosNombre}}</span>
                    {{/each}}

                    {{#if solicitaronEstudiosDetalle}}
                        ({{solicitaronEstudiosDetalle}})
                    {{/if}}


                {{else}}
                    Sin datos
                {{/if}}
            </td>
        </tr>
        <tr>
            <td>
                <b>¿Le indicaron remedios? Los consiguió con facilidad?:</b> {{{DemoraRemedios}}}
            </td>
            <td>
                <b>¿Fue derivado a otro médico?:</b>
                 {{{Derivado}}}

            </td>
        </tr>

        <tr>
            <td>
                <b>¿Cómo es atendido en la UGP?:</b> {{{CalidadAtencionUGP}}}

            </td>

            <td>
                <b>¿Cuánto tiempo le llevó conseguir la prestación solicitada?:</b> {{{TiempoPrestacion}}}
            </td>
        </tr>

        <tr>
            <td>
                <b>¿Conoce los beneficios que brinda el programa?:</b> {{{ConoceBeneficioPrograma}}}


            </td>

            <td>
                <b>¿Quién le brindó información del Programa?:</b>

                {{#if Enlace_InformacionPrograma}}

                    {{#each Enlace_InformacionPrograma}}
                        <span class="badge badge-secondary">{{InformacionProgramaNombre}}</span>
                    {{/each}}

                    {{#if quienBrindoInfoDetalle}}
                        ({{quienBrindoInfoDetalle}})
                    {{/if}}


                {{else}}
                    Sin datos
                {{/if}}
            </td>
        </tr>

    </table>
</div>
<br>
<br>
<br>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpjpAsKeGWDM1REdx9hTuMXwtwbknN6DU&callback=initMap" async defer></script>


<script>


    $(function(){

        $("#imprimir").click(function(){

            window.print();

        });


    });




</script>