<table class="registroindividual table table-striped">
    <tr>
        <th colspan="2">Datos personales</th>
    </tr>
    <tr>
        <td>
            Apellido y nombre: {{{Apellido}}} {{{Nombre}}}
        </td>
        <td>
            Sexo: {{{Sexo}}}
        </td>
    </tr>
    <tr>
        <td>
            Fecha de nacimiento: {{{FechaNacimiento}}}
        </td>
        <td>
            DNI: {{{DNI}}}
        </td>
    </tr>
    <tr>
        <td>
            Teléfono: {{{Telefono}}}
        </td>
        <td></td>
    </tr>
    <tr>
        <th colspan="2">Datos de localización</th>
    </tr>
    <tr>
        <td>
            Localidad: {{{Localidad}}}
        </td>
        <td>
            Domicilio: {{{Domicilio}}} {{{Barrio}}}
        </td>
    </tr>
    <tr>
        <td>
            Latitud: {{{Latitud}}}
        </td>
        <td>
            Longitud: {{{Longitud}}}
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <div id="map"></div>
        </td>
    </tr>
    <tr>
        <th colspan="2">Datos de prestación</th>
    </tr>
    <tr>
        <td>
            Titularidad: {{{Titularidad}}}
        </td>
        <td>
            Tipo de pensión: {{{TipoPension}}}
        </td>
    </tr>
    <tr>
        <td>
            Motivo de pensión: {{{Pension_cie10_dec10}}}
        </td>
        <td>
            Prestaciones: {{{prestaciones}}}
        </td>
    </tr>
    <tr>
        <th colspan="2">Datos de vivienda</th>
    </tr>
    <tr>
        <td>
            Nº de personas que conviven: {{{NroPersonasConviven}}}
        </td>
        <td>
            Nº de integrantes del grupo familiar: {{{NroIntegrantesConviven}}}
        </td>
    </tr>
    <tr>
        <td>
            Tipo de vivienda: {{{TipoVivienda}}}
        </td>
        <td>
            Servicios básicos: {{{TipoViviendaDetalle}}}
        </td>
    </tr>
    <tr>
        <th colspan="2">Comentario</th>
    </tr>
    <tr>
        <td colspan="2">
            Comentario: {{{Comentario}}}
        </td>
    </tr>
</table>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpjpAsKeGWDM1REdx9hTuMXwtwbknN6DU" async defer></script>


<script>

    $(function(){



        function initMap() {
            var latitude = -31.536395; // YOUR LATITUDE VALUE
            var longitude = -68.536976; // YOUR LONGITUDE VALUE

            var myLatLng = {lat: latitude, lng: longitude};

            map = new google.maps.Map(document.getElementById('map'), {
                center: myLatLng,
                zoom: 14,
                disableDoubleClickZoom: true, // disable the default map zoom on double click
                fullscreenControl: false
            });


            var lati = '{{{Latitud}}}';
            var long = '{{{Longitud}}}';

            setMapPoint(lati , long )

            function setMapPoint(lati , long ){


                var latlng = {lat: parseFloat(lat) , lng: parseFloat(lng) };

                if(marker){
                    marker.setMap(null);
                }

                map
                        .setCenter(latlng);

                marker = new google.maps.Marker({
                    position: latlng,
                    map: map,
                    title: 'Dirección'
                });

            }
        }

        initMap();

    });




</script>