<div class="registroContainer">

    <button id="imprimir" class="btn btn-dark noprint">Imprimir</button>

    <br  class="noprint">
    <br  class="noprint">

    <table class="registroindividual table table-striped vistadeimpresion">
        <tr>
            <th colspan="2">Planilla Nª {{numeroPlanilla}}, Encuestador: {{nombreEncuestador}}, Supervisor: {{nombreSupervisor}}</th>
        </tr>
        <tr>
            <th colspan="2">Datos personales <span class="text-danger"> {{#if motivoPersonalID}} (datos faltantes: {{motivoPersonalNombre}}) {{/if}}</span> </th>
        </tr>
        <tr>
            <td>
                Apellido y nombre: {{#if Apellido}} {{{Apellido}}} {{{Nombre}}} {{else}} Sin datos {{/if}}
            </td>
            <td>
                Sexo: {{{Sexo}}}
            </td>
        </tr>
        <tr>
            <td>
                Fecha de nacimiento: {{#if FechaNacimiento}} {{{FechaNacimiento}}} {{else}} Sin datos {{/if}}
            </td>
            <td>
                DNI: {{#if FechaNacimiento}} {{{DNI}}} {{else}} Sin datos {{/if}}
            </td>
        </tr>
        <tr>
            <td>
                Teléfono: {{#if Telefono}} {{{Telefono}}} {{else}} Sin datos {{/if}}
            </td>
            <td></td>
        </tr>
        <tr>
            <th colspan="2">Datos de localización <span class="text-danger"> {{#if motivoLocalizacionID}} (datos faltantes: {{motivoLocalizacionNombre}}) {{/if}}</span> </th>
        </tr>
        <tr>
            <td>
                Localidad: {{#if Localidad}} {{{Localidad}}} {{else}} Sin datos {{/if}}
            </td>
            <td>
                Departamento: {{#if DepartamentoNombre}} {{{DepartamentoNombre}}} {{else}} Sin datos {{/if}}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                Domicilio: {{#if Domicilio}} {{{Domicilio}}} {{{Barrio}}} {{else}} Sin datos {{/if}}
            </td>
        </tr>
        <tr>
            <td>
                Latitud: {{#if Latitud}} {{{Latitud}}} {{else}} Sin datos {{/if}}
            </td>
            <td>
                Longitud: {{#if Longitud}} {{{Longitud}}} {{else}} Sin datos {{/if}}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div id="map"></div>
            </td>
        </tr>
        <tr>
            <th colspan="2">Datos de prestación <span class="text-danger"> {{#if motivoPrestacionID}} (datos faltantes: {{motivoPrestacionNombre}}) {{/if}}</span></th>
        </tr>
        <tr>
            <td>
                Titularidad: {{#if Titularidad}} {{{Titularidad}}} {{else}} Sin datos {{/if}}
            </td>
            <td>
                Tipo de pensión:
                {{#if enlace_tipoPension}}

                    {{#each enlace_tipoPension}}
                        <span class="badge badge-secondary">{{PensionNombre}}</span>
                    {{/each}}

                {{else}}
                    Sin datos
                {{/if}}
            </td>
        </tr>
        <tr>
            <td>
                Diagnóstico:
                {{#if enlace_diagnosticos}}

                    {{#each enlace_diagnosticos}}
                        <span class="badge badge-secondary">{{DiagnosticoNombre}}</span>
                    {{/each}}

                {{else}}
                    Sin datos
                {{/if}}
            </td>
            <td>
                Prestaciones:
                {{#if enlace_prestaciones}}

                    {{#each enlace_prestaciones}}
                        <span class="badge badge-secondary">{{PrestacionNombre}}</span>
                    {{/each}}

                {{else}}
                    Sin datos
                {{/if}}
            </td>
        </tr>
        <tr>
            <td>
                Ingresos: {{#if IngresosDeclarados}} ${{{IngresosDeclarados}}} {{else}} Sin ingresos declarados {{/if}}
            </td>
        </tr>
        <tr>
            <th colspan="2">Datos de vivienda <span class="text-danger"> {{#if motivoViviendaID}} (datos faltantes: {{motivoViviendaNombre}}) {{/if}}</span></th>
        </tr>
        <tr>
            <td>
                Nº de personas que conviven: {{#if NroPersonasConviven}} {{{NroPersonasConviven}}} {{else}} Sin datos {{/if}}
            </td>
            <td>
                Nº de integrantes del grupo familiar: {{#if NroIntegrantesConviven}} {{{NroIntegrantesConviven}}} {{else}} Sin datos {{/if}}
            </td>
        </tr>
        <tr>
            <td>
                Tipo de vivienda: {{#if TipoVivienda}} {{{TipoVivienda}}} {{else}} Sin datos {{/if}}
            </td>
            <td>
                Servicios básicos:

                {{#if enlace_serviciosBasicos}}

                    {{#each enlace_serviciosBasicos}}
                        <span class="badge badge-secondary">{{ServicioNombre}}</span>
                    {{/each}}

                {{else}}
                    Sin datos
                {{/if}}

            </td>
        </tr>
        <tr>
            <th colspan="2">Comentario</th>
        </tr>
        <tr>
            <td colspan="2">
                Comentario: {{#if Comentario}} {{{Comentario}}} {{else}} Sin datos {{/if}}
            </td>
        </tr>
    </table>
</div>
<br>
<br>
<br>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpjpAsKeGWDM1REdx9hTuMXwtwbknN6DU&callback=initMap" async defer></script>


<script>

    $(function(){

        $("#imprimir").click(function(){

            window.print();

        });


    });

    function initMap() {
        var latitude = {{{Latitud}}}; // YOUR LATITUDE VALUE
        var longitude = {{{Longitud}}}; // YOUR LONGITUDE VALUE

        var myLatLng = {lat: latitude, lng: longitude};

        map = new google.maps.Map(document.getElementById('map'), {
            center: myLatLng,
            zoom: 14,
            disableDoubleClickZoom: true, // disable the default map zoom on double click
            fullscreenControl: false,
            mapTypeControl: false,
            mapTypeControlOptions: false,
            scrollwheel: false,
            streetViewControl: false
        });


        var lati = '{{{Latitud}}}';
        var long = '{{{Longitud}}}';

        setMapPoint(lati , long );

        function setMapPoint(lat , lng ){


            var latlng = {lat: parseFloat(lat) , lng: parseFloat(lng) };



            map
                    .setCenter(latlng);

            marker = new google.maps.Marker({
                position: latlng,
                map: map,
                title: 'Dirección'
            });

        }
    }


</script>