<div class="registroContainer">

    <button id="imprimir" class="btn btn-dark noprint">Imprimir</button>

    <br  class="noprint">
    <br  class="noprint">

    <table class="registroindividual table table-striped vistadeimpresion">
        <tr>
            <th colspan="2">Encuestador : {{{EncuestadorNombre}}} | Fecha de la encuesta: {{{FechaEncuesta}}}</th>
        </tr>
        <tr>
            <td>
                Departamento: {{{DepartamentoNombre}}}
            </td>

        </tr>
        <tr>
            <td>
                Fecha de nacimiento: {{#if FechaNacimiento}} {{{FechaNacimiento}}} {{else}} Sin datos {{/if}}
            </td>
            <td>
                Sexo: {{{Sexo}}}
            </td>
        </tr>
        <tr>
            <td>
                ¿Qué tipo de pensión tiene asignada?: {{{TipoPension}}}
            </td>
            <td>
                ¿Dónde se atiende?:
                {{#if Enlace_EncuestaLugarAtencion}}

                    {{#each Enlace_EncuestaLugarAtencion}}
                        <span class="badge badge-secondary">{{LugarAtencion}}</span>
                    {{/each}}

                    {{#if dondeSeAtiendeDetalle}}
                        ({{dondeSeAtiendeDetalle}})
                    {{/if}}

                {{else}}
                    Sin datos
                {{/if}}

            </td>
        </tr>
        <tr>
            <td>
                ¿Quién lo atiende?:
                {{#if Enlace_AtendidoPor}}

                    {{#each Enlace_AtendidoPor}}
                        <span class="badge badge-secondary">{{AtendidoPor}}</span>
                    {{/each}}

                    {{#if quienLoAtiendeDetalle}}
                        ({{quienLoAtiendeDetalle}})
                    {{/if}}


                {{else}}
                    Sin datos
                {{/if}}
            </td>
            <td>
                ¿Cuánto tiempo le llevó encontrar el turno?: {{{TiempoPrestacion}}}
            </td>
        </tr>
        <tr>
            <td>
                ¿Cómo fue atendido?:
                {{{CalidadAtencion}}}
            </td>
            <td>
                ¿Le solicitaron estudios, cuáles?:
                {{#if Enlace_EstudiosSolicitados}}

                    {{#each Enlace_EstudiosSolicitados}}
                        <span class="badge badge-secondary">{{EstudiosSolicitadosNombre}}</span>
                    {{/each}}

                    {{#if solicitaronEstudiosDetalle}}
                        ({{solicitaronEstudiosDetalle}})
                    {{/if}}


                {{else}}
                    Sin datos
                {{/if}}
            </td>
        </tr>
        <tr>
            <td>
                ¿Le indicaron remedios? Los consiguió con facilidad?: {{{DemoraRemedios}}}
            </td>
            <td>
                ¿Fue derivado a otro médico?:
                 {{{Derivado}}}

            </td>
        </tr>

        <tr>
            <td>
                ¿Cómo es atendido en la UGP?: {{{CalidadAtencionUGP}}}

            </td>

            <td>
                ¿Cuánto tiempo le llevó conseguir la prestación solicitada?: {{{TiempoPrestacion}}}
            </td>
        </tr>

        <tr>
            <td>
                ¿Conoce los beneficios que brinda el programa?: {{{ConoceBeneficioPrograma}}}


            </td>

            <td>
                ¿Quién le brindó información del Programa?:

                {{#if Enlace_InformacionPrograma}}

                    {{#each Enlace_InformacionPrograma}}
                        <span class="badge badge-secondary">{{InformacionProgramaNombre}}</span>
                    {{/each}}

                    {{#if quienBrindoInfoDetalle}}
                        ({{quienBrindoInfoDetalle}})
                    {{/if}}


                {{else}}
                    Sin datos
                {{/if}}
            </td>
        </tr>

    </table>
</div>
<br>
<br>
<br>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpjpAsKeGWDM1REdx9hTuMXwtwbknN6DU&callback=initMap" async defer></script>


<script>


    $(function(){

        $("#imprimir").click(function(){

            window.print();

        });


    });




</script>