<div class="row container">

    <div class="row">
        <div class="col-12">
            <p>Datos personales</p>
        </div>
        <div class="col-6">
            Nombre: {{Apellido}} {{Nombre}}
        </div>
        <div class="col-6">
            Fecha de nacimiento: {{FechaNacimiento}}
        </div>
        <div class="col-6">
            Teléfono: {{Telefono}}
        </div>
        <div class="col-6">

        </div>
    </div>
    <div class="row">
        <div class="col-12">
            Datos de Localización
        </div>
        <div class="col-6">
            Localidad: {{Localidad}}
        </div>
        <div class="col-6">
            Domicilio: {{Domicilio}}
        </div>
        <div class="col-6">
            Barrio: {{Barrio}}
        </div>
        <div class="col-6">
            Latitud: {{Latitud}}  Longitud: {{Longitud}}
        </div>
    </div>

</div>